dateparser>=1.2.2
#en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl#sha256=5e6329fe3fecedb1d1a02c3ea2172ee0fede6cea6e4aefb6a02d832dba78a310
fastapi>=0.128.0
pytest>=9.0.2
spacy>=3.8.11
uvicorn>=0.40.0
